/*==========================
Responsive Design
==========================*/


@media(max-width:1100px){

.header{

padding:20px 5%;

}


.cards{

grid-template-columns:repeat(2,1fr);

}


.posts{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:900px){


.header{

position:relative;

}


nav{

justify-content:center;

}


.hero{

height:auto;

min-height:90vh;

}


.hero h1{

font-size:55px;

}


.categories h2,
.articles h2{

font-size:32px;

}


.quote h2{

font-size:32px;

}

}




@media(max-width:700px){


.header{

text-align:center;

}


.logo{

margin-bottom:10px;

}


nav{

gap:12px;

}


nav a{

font-size:14px;

}


.hero{

padding-top:40px;

}


.hero h1{

font-size:42px;

}


.sub{

font-size:18px;

}


.desc{

font-size:16px;

}


.btn{

padding:13px 30px;

}


.cards{

grid-template-columns:1fr;

}


.posts{

grid-template-columns:1fr;

}


.card{

padding:30px 20px;

}


.quote{

padding:60px 20px;

}


.quote h2{

font-size:24px;

}

}



@media(max-width:400px){


nav a{

font-size:12px;

}


.hero h1{

font-size:36px;

}


.categories h2,
.articles h2{

font-size:27px;

}


}
